

.iti__hide {
  display: none; }



.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  background: none; }



#result {
  margin-bottom: 100px; }
