.set {
	margin-bottom: 1em;
}
.set.no-defects > a i{
	border-color: #0acd64;
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	transform: rotate(0);
}
.set.no-defects > a i::before{
	color: #0acd64;
	content: "NO";
	font-family: 'apercu-medium';
	background-image: none;
	font-size: 0.75em;
	margin: -3px 0 0 4px;
}
.details-box.no-defects{
	text-align: center;
	background: rgba(10, 205, 100, 0.5);
	border-color: transparent;
}
.set.has-defects > a i{
	/*border-color: #e14242;*/
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	transform: rotate(0);
}
.set.has-defects > a i::before {
	/*color: #e14242;*/
	content: "YES";
	font-family: 'apercu-medium';
	background-image: none;
	font-size: 0.75em;
	margin: -3px 0 0 -1px;
	text-align: center;
}
.details-box.has-defects{
	text-align: left;
/*	background: rgb(245, 89, 89);
	border-color: transparent;*/
}
.details-box.has-defects h4, .details-box.has-defects p{
	color: #fff;
}
.details-box.has-defects p{
	padding-left: 0;
	padding-right: 0;
}
.details-box.has-defects{
	color: #fff;
}
.details-box.no-defects h4{
	color: #fff;
}
.upload-btn img{
	width: 20px;
}
#assign-user-popup .popup-inner{
	width: 60%;
}
#assign-user-popup .assign-libray-wrap h3{
	text-align: left;
	margin: 0;
	padding-left: 1em;
}
#inviteMember-popup .form-group{
	width: 49.5%;
	float: left;
	padding-right: 0.5em;
	display: inline-block;
	vertical-align: top; 
}
#inviteMember-popup .form-group:last-child{
	width: 100%;
}
#inviteMember-popup .form-group:nth-child(2n){
	padding-left: 0;
	padding-right: 10px;
}
.confirmation-txt{
	color: inherit;
	font-size: 1em;
	line-height: normal;
}

#filter-popup .form-group, .more-filter-popup .form-group {
	width: 50%;
	float: left;
	padding:0 0.5em;
/*	padding-left: 0.5em;
	padding-right: 0;*/
}
#filter-popup .form-group:nth-child(2n), .more-filter-popup .form-group:nth-child(2n) {
	/*padding-right: 0.5em;
	padding-left: 0;*/
}
#filter-popup .form-group:last-child, .more-filter-popup .form-group:last-child{
	width: 100%;
}
#viewprofile-popup .form-group{
	width:49.5%;
	float: left;
	padding-right: 0.5em;
	display: inline-block;
	vertical-align: top; 
}
#viewprofile-popup .form-group:last-child{
	width: 100%;
}
#viewprofile-popup .form-group:nth-child(2n){
	padding-left:0;
	padding-right: 10px;
}


.popup-inner label {font-size: 0.93em;}
.popup-inner .form-ctrol {height: 43px;font-size: 1em;}

.sn_import-text {
    display: inline-block;
}

.sn_import {
    text-align: center;
}

.sn_import label.file-upload {
    width: 40px;
    height: 40px;
    line-height: 39px !important;
}
.sn_import label.file-upload img {
    width: 50%;
}